body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

/* .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid #404040;
  margin: 1rem;
}

.product img {
  padding: 1rem;
  width: 100%;
  max-width: 300px;
}

.product-info {
  padding: 1rem;
} */
.brand-logo img {
  width: 100px;
}

.nav-link {
  color: #912919;
  font-weight: 600;
}

.nav-link:active {
  color: #efab43;
}

.nav-link:hover {
  color: #efab43;
}

.rating span {
  color: #efab43;
}

.img-large {
  max-width: 100%;
}

.add-cart-btn,
.checkout-btn,
.login-btn,
.shipping-btn,
.placeOrder-btn {
  background: #efab43 !important;
  border: none;
}

.add-cart-btn:hover,
.checkout-btn:hover,
.login-btn:hover,
.shipping-btn:hover,
.placeOrder-btn:hover {
  background: #eb910b !important;
  border: none;
}

.img-thumbnail {
  height: 150px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #efab43;
  color: #efab43;
}
